@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-border {
    border-color: rgba(0, 0, 0, 0.1); /* Define your border color here */
  }
}


@layer base {
  :root {
    --border: 0 0% 89.8%; /* You can still use CSS variables for colors */
  }

  /* Apply background and text color from variables */
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  @apply bg-white text-black;
}

.dark html, .dark body {
  @apply bg-gray-900 text-white;
}

